/* src/containers/TaskContainer/TaskContainer.css */
.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.task h2 {
    margin: 0;
} 